.search-container {
  flex: 1; /* This makes the search container take up remaining space */
  /* display: flex; */
  justify-content: center;
  /* background-color: #068244; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-input {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 1rem;
  background-color: #fff;
  /* margin-top: 2em; */
}
